/* Make Window black */
QWidget{
    background-color: black;
}



QPushButton, QLabel, QLineEdit, QComboBox, QAbstractItemView, QSpinBox {
    background-color: blue;
    color: yellow;
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 8px;
    font: bold 30px;
}

/* Configure the base layout */
QPushButton {

}

QLabel {
  qproperty-alignment: AlignCenter; /* For Labels */
}




